.main-title {
  font-size: 25px;
  text-align: center;

  @include for-size(tablet) {
    font-size: 35px;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;

  @include for-size(desktop) {
    margin-bottom: 25px;
  }

  @include for-size(hd-desktop) {
    margin-bottom: 30px;
  }
}

section {
  padding-left: 15px;
  padding-right: 15px;
}

.pokemon__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  width: 200px;
  height: 300px;
  text-align: center;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-right: 20px;

  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;

  & img {
    transition: all 0.2s linear;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 150px;
    z-index: 0;
  }

  &:hover {
    background-color: rgb(201, 201, 201);

    & img {
      position: absolute;
      left: -10px;
    }
  }

  & .pokemon-img {
    height: 150px;
    margin-top: 5px;
  }
}

.main-scrollUp {
  left: 97%;
  position: sticky !important;
}

.pokemon-card__name {
  font-size: 20px;
}
